a,
textarea,
input,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
textarea:hover,
input:hover {
  cursor: text;
}
button:hover,
a:hover,
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
  cursor: pointer;
}
:root {
  --prim: #ff6978;
  --sec: #9ebdc7;
  --ter: #4a565b;
  --qua: #2b3033;
  --back: #0b090b;
}
body {
  font-family: 'Fantasque Sans Mono', monospace;
  font-weight: 200;
  background: var(--back);
  color: var(--sec);
  font-size: 16px;
}
nav {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  background: var(--back);
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
section.naming-inputs {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  align-items: end;
}
section.naming-inputs input#name {
  margin-right: 2em;
}
section.naming-inputs label[for=trigger] ~ .switch {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
section.naming-inputs label[for=trigger] ~ .key-hint {
  margin-bottom: 0.5em;
}
section.flags-inputs {
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 1.5em;
  margin-bottom: 3em;
}
section.flags-inputs .explanation {
  margin-top: 0.5em;
  margin-left: calc(1.5em + 1em);
}
section.content-inputs {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-gap: 2em;
  margin-bottom: 2.5em;
}
section.content-inputs [data-tab=add-tab-stops] ._radio {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}
section.content-inputs [data-tab=add-code] button:not(:first-child) {
  margin-left: 1.5em;
}
section.content-inputs [data-tab=add-code] section:not(:first-child) {
  margin-top: 2em;
}
section.content-inputs #content-label {
  align-items: center;
}
section.content-inputs textarea#content {
  resize: none;
  height: 400px;
}
section.directives-inputs {
  margin-bottom: 5em;
}
section.directives-inputs label:not([for]) {
  margin-right: 2em;
}
section.output {
  margin-bottom: 4em;
}
section.output #output-buttons {
  justify-content: center;
}
section.output button {
  margin-top: 1em;
}
section.output button:not(:last-child) {
  margin-right: 1em;
}
footer {
  text-align: center;
  padding: 3em 0;
}
[data-tab]:not([data-tab-active]) {
  display: none;
}
h1 {
  font-weight: normal;
  color: var(--prim);
}
h2 {
  font-weight: normal;
  font-size: 36px;
  overflow: hidden;
}
h2::after {
  content: '';
  display: inline-block;
  height: 2px;
  background: var(--qua);
  position: relative;
  vertical-align: middle;
  width: 100%;
  left: 0.5em;
  margin-right: -50%;
}
.explanation {
  font-size: 14px;
  color: var(--ter);
}
.key-hint {
  padding: 1px 2px;
  border: 1px solid var(--ter);
  font-size: 16px;
}
._accent {
  color: var(--prim);
}
._disabled {
  opacity: 0.5;
}
input,
textarea {
  background: transparent;
  border: 2px solid var(--ter);
  padding: 10px;
}
input[type=text] {
  min-width: 300px;
}
input[type=number] {
  max-width: 4em;
}
.grouped-inputs {
  max-width: 100%;
}
.grouped-inputs input {
  min-width: unset;
}
.grouped-inputs input:not(:first-child) {
  margin-left: -2px;
}
.switch label {
  padding: 2px 10px;
  font-size: 14px;
  color: var(--back);
  background: var(--ter);
}
.switch input[type=radio] {
  display: none;
}
.switch input[type=radio]:checked + label {
  background: var(--prim);
  padding: 5px 10px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: flex;
  align-items: center;
}
input[type=checkbox] + label::before {
  content: '';
  margin-right: 0.5em;
  height: 1.5em;
  width: 1.5em;
  background: var(--ter);
}
input[type=checkbox]:checked + label::before {
  background: var(--prim);
}
input[type=checkbox]:checked ~ .key-hint {
  color: var(--prim);
}
._radio input[type=radio] {
  display: none;
}
._radio input[type=radio] + label {
  display: flex;
  align-items: center;
}
._radio input[type=radio] + label::before {
  content: '';
  margin-right: 0.5em;
  height: 1.5em;
  width: 1.5em;
  background: var(--ter);
  border-radius: 100000px;
}
._radio input[type=radio]:checked + label::before {
  background: var(--prim);
}
._tabs input[type=radio] {
  display: none;
}
._tabs label {
  color: var(--ter);
}
._tabs input[type=radio]:checked + label {
  color: var(--sec);
}
._tabs label:not(:last-child) {
  margin-right: 0.5em;
}
button {
  background: var(--sec);
  color: var(--back);
  padding: 0.5em 1.5em;
  border: none;
}
button[disabled] {
  background: repeating-linear-gradient(45deg, var(--qua), var(--qua) 10px, var(--back) 10px, var(--back) 20px);
  color: var(--sec);
  cursor: not-allowed;
}
button:not([disabled]):hover {
  background: var(--prim);
}
._packed {
  display: flex;
  flex-direction: row;
}
._stacked {
  display: flex;
  flex-direction: column;
}
._grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
._leftspacer {
  margin-left: auto;
}
