extends layout.pug

block body
    nav
        h1 ultisnips.io
        button.secondary#create Create
        button.secondary#analyze Analyze
        a(href="https://github.com/ewen-lbh") Created by ewen-lbh
