a, textarea, input, button
    color: inherit
    font-family: inherit
    font-size: inherit
    resize: vertical

textarea, input
    &:hover
        cursor: text

button, a, input[type=radio] + label, input[type=checkbox] + label
    &:hover
        cursor: pointer

input[type=number]
    -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0
