@import reset
@import colors
@import typography
@import layout
@import components

._packed
    display flex
    flex-direction row

._stacked
    display flex
    flex-direction column

._grid
    display grid
    grid-template-columns: repeat(2, 1fr)

._leftspacer
    margin-left auto
